html,
body,
.App,
#root {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 0 0 auto;
}

.App-main {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.App-footer {
  flex: 0 0 auto;
}
