.header {
  background: #006bd7;
}

.Header-nav {
  display: flex;
  justify-content: center;
  height: 48px;
  bottom: 0;
  margin-bottom: 1px;
}

.Header-ul {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}

.Header-li {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  display: inline-block;
}

.Header-link {
  color: white;
  text-decoration: none;
  font-size: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.Header-link-active {
  border-bottom: 2px solid white;
}